body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 8em;
    font-family: 'Spectral', serif;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 50px;
    letter-spacing: -10px;
    font-weight: 300;

}
h2{
    font-size: 16px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
}
p{
    font-size: 25px;
    font-weight: 350;
    font-family: 'Roboto', sans-serif;
    margin: 0 0px;
    line-height: 25px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav{
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #191919;
}

.nav .logo{
    margin-left: 75px;
}
.nav ul{
    list-style: none;
    display: flex;
    font-size: 14px;
    margin-right: 75px;
}
.nav ul li a{
    text-decoration: none;
    color: #191919;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
}
li button{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #191919;
    display: flex;
    align-items: flex-start;
    /* font-size: 14px; */
}

.hero-section{
    background-color: #ffc017;
    height: 500px;
    border-bottom: 1px solid #191919;
}
.sinistra{
    margin-left: 75px;
    float: left;
}
.destra{
   float: right;
   z-index: 0;
}
.start-reading{
    background-color: #191919;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    width: 30%;
    line-height: 30px;
    border: #191919;
    margin-top: 5%;
}
main{
    margin:30px 75px;
}
.titolo-main{
    display: flex;
    margin-bottom: 16px;
}
.trending{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.freccia{
    border: 1px solid red;
    margin-right: 10px;
}

.container-articoli{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;

}
.articolo{
    display: flex;
}
.numero{
    color: rgb(230, 230, 230);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: 16px;
    line-height: 20px;
}
.logo-tom{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo-quadrato{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.logo-e-titolo{
    display: flex;
}
.titolo-logo{
    font-size: 13px;
    font-weight: 500;
}
.date{
    font-size: 13px;
    color: rgb(117, 117, 117);
    line-height: 20px;
    margin-right: 5px;
}
.sos{
    width: 33.3%;
    height: 100px;
}
.star{
    display: flex;
}


.bordo-grigio{
    border-top: 1px solid rgb(230, 230, 230);
}
.corpo{
    margin:50px 75px;
}
aside{
    float: right;
    width: 400px;
}
.parte-sopra ul{
    list-style: none;
    padding: 0px;

}
.parte-sopra ul li{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    padding: 6px 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
    font-size: 14px;
    color: rgb(117, 117, 117);
}
.parte-sopra{
    border-bottom:1px solid rgb(230, 230, 230);
    font-family: 'Roboto', sans-serif;
}
.parte-sotto ul{
    list-style: none;
    padding: 0px;
}
.parte-sotto{
    font-family: 'Roboto', sans-serif;
}
.parte-sotto ul li{
    display: inline-block;
    font-size: 14px;
    color: rgb(117, 117, 117);
    margin-right: 23px;
    margin-bottom: 10px;
}
.sezione-link{
    position: sticky;
    top: 107px;
}